{% extends "layout.html" %}

{% block heading %}
	Login
{% endblock %}

{% block body %}
<div class="col-sm-12">
        <div class="container" id="c1" align="center">
                <div class="card border-light bg-transparent" style="width: 18rem;">
                  <div id="c2" class="container text-center">
                  <a href="{{ url_for ('homepage') }}">
                    <img src="#" alt="">
                  </a>
									<div class="row">
										<div class="col-md-6 col-md-offset-3">
												<form action="" method="POST">
														{% if error %}
																<p class=error><strong>Error:</strong> {{ error }}
														{% endif %}
														<div class="input-group">
																<span class="input-group-addon" id="basic-addon3">Your Username</span>
																<input type="text" class="form-control" name="username" id="user" aria-describedby="basic-addon3">
														</div>
														<br>
														<div class="input-group">
																<span class="input-group-addon" id="basic-addon3">Your Password</span>
																<input type="text" class="form-control" id="pass" name="password" aria-describedby="basic-addon3">
														</div>
														<br>
														<input type="Submit" value="Login" class="btn btn-default btn-sm">
												</form>
										</div>
								</div>
                  </div>
                  <div class="card-footer bg-transparent border-light"> <a href="{{ url_for ('signup_page') }}"> <button type="button" class="btn btn-primary bg-transparent text-primary" name="button">Sign Up!</button> </a>  </div>
                </div>
              </div>

	<a href="{{url_for('homepage')}}" style="text-decoration: none;"><h3>Go Back</h3></a>
</div>
{% endblock %}
