<!DOCTYPE html>
<html>
  <title>Kamal Nayan</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="../static/logo.png" />
  <style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  </style>
  <body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

      <!-- The Grid -->
      <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container w3-center">
              <img src="../static/pic.jpg" style="width:100%" alt="Avatar">
            </div>
            <div class="w3-container">
              <h1 class="w3-center w3-text-teal">Kamal Nayan</h1>
              <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Competitive Programmer | Web Developer</p>
              <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Jamshedpur, Jharkhand, India</p>
              <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>knayan111@gmail.com</p>
              <hr>

              <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
              <p>Data Structures</p>
              <p>Algorithms</p>
              <p>Web Development</p>
              <br>

              <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
              <p>C++</p>
              <p>Python</p>
              <p>C</p>
              <p>HTML</p>
              <p>CSS</p>
              <p>SQL</p>
              <p>JavaScript</p>
              <br>

              <p class="w3-large w3-text-theme"><b><i class="fa fa-envelope fa-fw w3-margin-right w3-text-teal"></i>Contact :</b></p>
              <p>Email ID: knayan111@gmail.com</p>
              <br>

            </div>
          </div><br>

        <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b><a href="https://github.com/knayan111/codeforcesHackCounter" target="_blank">Codeforces Hack Counter</a></b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
              It uses codeforces api to count the no. of successful hacking attempts, no. of unsuccessful hacking attempts, total no. of hacking attempts and
              no. of times hacked of a given user handle. It also displays general profile details along with the profile picture.
              <hr>
              <h5 class="w3-opacity"><b><a href="https://github.com/knayan111/rankListBot" target="_blank">Rank List Bot</a></b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
              This is a bot that will fetch name, registration no., SGPA and CGPA of all students of a given branch of NIT Jamshedpur from
              http://14.139.205.172/web_new/Default.aspx. It uses Selenium to automate entry of students' registration no. and semester and to extract required
              data from result. All extracted data is stored in result.csv file. Then, the data is sorted according to CGPA.
              <hr>
              <h5 class="w3-opacity"><b><a href="http://www.shconstruction.co.nf" target="_blank">S.H. Construction Co.</a></b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
              Website of S.H. Construction Co.
              <hr>
            </div>
          </div>

          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-bank fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>National Institute Of Technology, Jamshedpur</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2021</h6>
              Bachelor of Technology (Hons.)<br>
              Computer Science and Engineering
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Delhi Public School, Ranchi</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2016</h6>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>D.A.V. Public School, Hehal, Ranchi</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2002 - 2014</h6>
              <hr>
            </div>
          </div>

          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-cogs fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Achievements</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>National Initiative for Design Innovation Hackathon</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
              Secured 3rd rank in the institue level Hackathon organised by National Initiative for Design Innovation<br>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Computer Society of India IT Quiz</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012</h6>
              Runner up in city level IT Quiz organised by Computer Society of India in Ranchi<br>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>MICA Educo IT Quiz</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008</h6>
              School Topper of MICA Educo IT Quiz<hr>
            </div>
          </div>

        <!-- End Right Column -->
        </div>

      <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
      <p>Find me on:</p>
      <a href="https://github.com/knayan111" target="_blank"><i class="fa fa-github w3-xxlarge w3-hover-opacity"></i></a>&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/kamal-nayan-20b8ab155" target="_blank"><i class="fa fa-linkedin w3-xxlarge w3-hover-opacity"></i></a>&nbsp;&nbsp;
      <a href="https://www.facebook.com/knayan111" target="_blank"><i class="fa fa-facebook-official w3-xxlarge w3-hover-opacity"></i></a>&nbsp;&nbsp;
      <a href="https://www.instagram.com/know_nayan/" target="_blank"><i class="fa fa-instagram w3-xxlarge w3-hover-opacity"></i></a>
      <p>Developed by Kamal Nayan</p>
    </footer>
  </body>
</html>