{% extends "layout.html" %}

{% block heading %}
	Sign Up
{% endblock %}

{% block body %}
<div class="col-sm-12">
        <div class="container text-light" align="center" style="padding-top: 20px;">
                <div class="card border-light bg-transparent" style="width: 20rem;">
                  <div class="container" id='c2'>
                    <h2>Sign Up</h2>
                    <a href="{{ url_for ('homepage') }}">
                      <img src="#" alt="">
                    </a>
                    <form method="post" enctype = "multipart/form-data" >
											<div class = "container">
												<h4>Register</h4>
												<br>
												{% from "_formhelpers.html" import render_field %}
												<form method=post action="/login/" enctype = "multipart/form-data">
													<dl>
														{{render_field(form.username)}}
														{{render_field(form.email)}}
														{{render_field(form.address)}}
														{{render_field(form.password)}}
														{{render_field(form.confirm)}}
														<input style="padding-top: 20px; padding-left: 10px; padding-right:10px;" class="custom-file-input" type = "file" name = "file" />
														{{render_field(form.accept_tos)}}
													</dl>
													<p><input type=submit value=Register></p>
												</form>

												{% if error %}
													<p class="error"><strong>Error:</strong>{{error}}</p>
												{% endif %}

											</div>
                    </form>
                  </div>

                  <div class="card-footer bg-transparent border-light"> <p class="text-light">Already a user?</p> <a href="{{ url_for ('login_page') }}"> <button type="button" class="btn btn-primary bg-transparent text-primary" name="button">Login</button> </a>  </div>
                </div>
                </div>
              </div>
	<a href="{{url_for('homepage')}}" style="text-decoration: none;"><h3>Go Back</h3></a>
</div>
{% endblock %}