{% extends "layout.html" %}

{% block heading %}
	Become a volunteer
{% endblock %}

{% block body %}
<form class="form-group">
	<p><h3>Why do you want to become a volunteer?</h3><br>
		<textarea rows="10" cols="150"></textarea>
	</p>
	<p><h3>How much hours can you give per week?</h3><br>
		<textarea rows="10" cols="150"></textarea>
	</p>
	<p><h3>Are you associated with any other NGOs?</h3><br>
		<textarea rows="10" cols="150"></textarea>
	</p>
	<button type="submit"><h4>Submit</h4></button>
</form>
<div class="col-sm-12">
	<a href="{{url_for('homepage')}}" style="text-decoration: none;"><h3>Go Back</h3></a>
</div>
{% endblock %}